section{
	margin-bottom:15px;
}
.harga h1{
	font-size:6em;
	margin-bottom:20px;
}
.harga small{
	vertical-align:top;
}
.harga .page-header{
	margin-top:0;
}
.client{
	font-size:2em;
}
.tab-pane{
	margin-top:16px;
}